# Entorno virtual
venv/
.env

# Archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de bases de datos
*.db
*.sqlite3

# Archivos de logs
logs/
*.log

# Configuración de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de despliegue
*.pem
.DS_Store

# Archivos de Docker (si lo agregas después)
docker-compose.override.yml
